#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2009 Paul McEnery <pmcenery@gmail.com>

VERSION := $(shell dpkg-parsechangelog | sed -n 's/^Version: \(.*\)-[^-]*$$/\1/p')

%:
	dh $@

# Build ipeth-pair binary only
override_dh_auto_build:
	make -C ipheth-pair

# Remove the dh_auto_install step
override_dh_auto_install:
	install -d $(CURDIR)/debian/tmp/usr/src/ipheth-$(VERSION)
	install -m 0644 ipheth-driver/ipheth.c \
	  $(CURDIR)/debian/tmp/usr/src/ipheth-$(VERSION)
	install -m 0644 ipheth-driver/Makefile \
	  $(CURDIR)/debian/tmp/usr/src/ipheth-$(VERSION)
	install -m 0644 ipheth-driver/README \
	  $(CURDIR)/debian/tmp/usr/src/ipheth-$(VERSION)
	install -m 0644 debian/dkms.conf \
	  $(CURDIR)/debian/tmp/usr/src/ipheth-$(VERSION)

# Symlink ipheth-dkms docdir to ipheth-utils
override_dh_installdocs:
	dh_installdocs -pipheth-utils
	dh_installdocs -pipheth-dkms --link-doc=ipheth-utils
